* {
  background-color: black;
  color: white;
}
body {
  padding-left: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btcaddress{
  color: #00F900;
}

.addrvalue{
  color: #FFFB00;
}

.usdvalue{
  color: #FF3434;
}

.highlights{
  font-size: 1.2em;
  font-weight: bold;
}
