* {
  background-color: #575757;
  color: white;
}
body {
  padding-left: 1em;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btcaddress{
  color: #00F900;
}

.addrvalue{
  color: #FFFB00;
}

.usdvalue{
  color: #EE5338;
}
